{% load bootstrap3 %}

<!DOCTYPE html>
<html>
    <head>
        <title>Wiki Summary</title>
        <meta charset="utf-8">
        <meta name="description" content="Read Summaries of Wikipedia Articles">
        {% bootstrap_css %}
    </head>
    
    <body>
        {% block header %}
        <div class="jumbotron text-center">
            <h1>{{article.title}}</h1>
            <p>{{article.content}}</p>
            <a href="{{article.full_article}}" target="_blank">Full Article</a>
        </div>
        {% endblock header %}
        <form class="text-right" action="{% url 'index' %}">
            <input class="btn btn-primary" type="submit" value="Another Article?"/>
        </form>
        
        <footer class="text-right">
            <a href="https://github.com/Mikerah/WikiSummary-WebApp">View Source Code on Github</a>
        </footer>
    
    </body>
</html>