{% load bootstrap3 %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html>
    <head>
        <title>Wiki Summary</title>
        <meta charset="utf-8">
        <meta name="description" content="Read Summaries of Wikipedia Articles">
        {% bootstrap_css %}
        <style>
        .initiallyHidden {
            display: none;
        }
        .error_message {
            color: red;
        }
        </style>
        
        <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
        {% bootstrap_javascript %}
        <script type="text/javascript">
            $(document).ready(function() {
                $("#selections_0").click(function() {
                    $("#spec_art").toggle();
                });
                
                $("#selections_1").click(function() {
                    $("#num_art").toggle();
                });
                
            });
            
        </script>
    </head>
    <body>
        {% block header %}
        <div class="jumbotron text-center">
        <h1>WikiSummary</h1>
        <p>Read online summaries of wikipedia articles</p>
        </div>
        {% endblock header%}
        <div class="text-center">
            <form action="." method="post">
                {% csrf_token %}
                {{ form.options|add_class:"list-unstyled list-inline" }}
                <div id="spec_art" class="initiallyHidden">
                    <p>{{ form.specific_article.label_tag }} {{ form.specific_article }}</p>
                </div>
                <div id="num_art" class="initiallyHidden"> 
                    <p>{{ form.number_of_random_articles.label_tag }} {{ form.number_of_random_articles }}</p>
                </div>
                <input class="btn btn-primary" type="submit" value="Submit"/>
                {% for k, message in form.errors.items %}
                    <p style="color:red;"> {{message}}</p>
                {% endfor %}
            </form>
        </div>
        <footer class="text-right">
            <a href="https://github.com/Mikerah/WikiSummary-WebApp">View Source Code on Github</a>
        </footer>
    </body>

</html>